@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Praise&display=swap");

:root {
  /*COLORS*/
  --primary-color: #1d1207;
  --background-primary-color: #c2a074;
  --primary-color-border: #2f1708;
  --primary-color-light: #c2935a;
  --secondary-color: #824413;
  --text-dark: #120d04;
  --text-light: #dcbe94;
  --white: #e9dbc3;
  /*RADIUS*/
  --max-width: 1200px;
  --small-radius: 8px;
  --medium-radius: 16px;
  --large-radius: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.section-menu {
  padding-inline: 5%;
  padding-block: 100px;
}

.order-button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 5px 8px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s, transform 0.2s;
}

.order-button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.logo {
  width: 280px;
  height: auto;
  display: block;
  margin-top: -10px;
}

.primary-button,
.light-button {
  padding: 8px 14px;
  font-size: 18px;
  border-radius: var(--small-radius);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  align-items: center;
  gap: 8px;
}

.primary-button {
  background: var(--primary-color);
  color: var(--white);
  border: 4px solid var(--primary-color);
  transition: background 0.3s, transform 0.2s;
}
.primary-button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.light-button {
  background: var(--white);
  color: var(--primary-color);
  border: 4px solid var(--primary-color);
  transition: background 0.3s, transform 0.2s;
}
.light-button:hover {
  color: var(--white);
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

/*HEADER*/
.header {
  /* border: solid;*/
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;
  height: 100px;
  align-items: center;
  position: fixed;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--white),
    var(--background-primary-color)
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header_title {
  color: var(--primary-color);
}
.header_title span {
  color: var(--secondary-color);
}

.header_menus {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header_menus li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 20px;
  transition: 300ms ease;
  position: relative;
}

.header_menus li a:hover {
  color: var(--secondary-color);
}

.header_menus li a::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  left: 0;
  bottom: -6px;
}

.header_menus li a:hover::after {
  width: 100%;
}

/*SECTION HOME*/
.section-home {
  padding-top: 130px;
  /* border: solid;*/
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--white),
    var(--background-primary-color)
  );
  gap: 80px;
  min-height: 100dvh;
  justify-content: space-between;
}

.section-home_title {
  line-height: 1.2;
  font-size: 48px;
  width: 500px;
}

.section-home_title span {
  color: var(--secondary-color);
}

.section-home_buttons {
  display: flex;
  margin-top: 20px;
  gap: 16px;
}

.section-home_image {
  width: 90%;
  max-width: 600px;
}

/*SECTION SIGNATURE*/
.section-about {
  background: var(--white);
  color: var(--text-dark);
}
.section-menu_signature {
  color: var(--secondary-color);
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.signature-menu_card {
  border: 3px solid var(--primary-color-border);
  width: 280px;
  border-radius: var(--medium-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: end;
  margin-top: 64px;
  cursor: pointer;
  padding: 24px;
}

.section-menu_signature :hover {
  background: var(--primary-color-light);
}

.signature-menu_card-image {
  width: 100%;
  aspect-ratio: 1/1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.signature-menu_card-title {
  font-size: 16px;
  margin-top: 8px;
}

.signature-menu_card-rating {
  align-items: center;
  margin-top: 14px;
  width: 100%;
  text-align: center;
}
.signature-menu_card-rating i {
  color: #ffb40a;
  font-size: 20px;
}

.signature-menu_card-rating span {
  margin-left: 4px;
  font-size: 20px;
}

.signature-menu_card-footer {
  color: var(--primary-color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 14px;
  padding: 0 10px;
  box-sizing: border-box;
}

.signature-menu_card-price {
  font-weight: 600;
  font-size: 1.1rem;
}
/*SECTION MENU*/
.section-menus {
  background: var(--primary-color-light);
}
.section-menu_title {
  font-family: sans-serif;
  font-size: 50px;
  color: var(--secondary-color);
  text-align: center;
}

.section-menu_description {
  color: var(--primary-color-border);
  font-size: 20px;
  text-align: center;
}

.section-menus_cards {
  display: flex;
  justify-content: center; /* centers the cards horizontally */
  align-items: flex-start;
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  gap: 40px; /* space between cards */
  padding: 40px 0;
}

.section-menus-card {
  background: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 260px;
  text-align: center;
  padding: 20px;
  transition: transform 300ms ease;
}

.section-menus-card:hover {
  transform: translateY(-10px);
  background-color: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  color: var(--white);
}

.section-menus_image {
  width: 90%;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.section-menus_card-title {
  font-size: 24px;
  margin-top: 8px;
}

/* SECTION ABOUT*/
.section-about_menu {
  display: flex;
  gap: 40px;
  padding-bottom: 80px;

  background: linear-gradient(
    to right,
    var(--white),
    var(--background-primary-color)
  );
}

.section-about_title {
  color: var(--secondary-color);
  padding-bottom: 25px;
}

.section-about_description {
  color: var(--primary-color-border);
  padding-bottom: 10px;
  font-size: 18px;
}

.section-about_content {
  padding-top: 120px;
  max-width: 600px;
}

.section-about_image {
  max-width: 350px;
  object-fit: scale-down;
  margin-top: 45px;
  margin-left: 25px;
}

.section-about_statistics {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.section-about_stat {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section-about_stat-number {
  font-size: 36px;
  color: var(--secondary-color);
}

.section-about_stat-desc {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.5;
}

.section-about_stat-title {
  color: var(--primary-color-border);
}

/* SECTION SERVICES*/

.section-services_menu {
  /*border: solid;*/
  background: var(--white);
}
.section-services_cards {
  margin-top: 64px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.section-services_card {
  padding: 24px;
  transition: 0.3s ease;
  cursor: pointer;
}

.section-services_card:hover {
  background-color: var(--secondary-color);
  color: var(--white);
  scale: 1.01;
  box-shadow: 0px 0px 0px 0.15;
}

.section-services_card-icon {
  background: var(--background-primary-color);
  width: fit-content;
  border-radius: 99px;
  margin-bottom: 18px;
}

.section-services_card-icon i {
  font-size: 40px;
  width: fit-content;
  padding: 10px;
  background: var(--background-primary-color);
  color: var(--primary-color);
  border-radius: 50%;
}

.section-services_title {
  color: var(--secondary-color);
  padding-top: 50px;
  text-align: center;
}

.section-services_description {
  color: var(--primary-color);
  padding: 25px;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
}

.section-services_card-title {
  color: var(--primary-color);
  padding-top: 10px;
  padding-bottom: 20px;
}

.section-service_description {
  padding-bottom: 30px;
}
